<footer>
    <div class="footer-info">
        <div class="footer-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="footer-info-brand">&copy;Chàv Private Limited </div>
        <div class="footer-info-links">
        <a href="/privacy">Privacy</a> &nbsp;
        <a href="/terms">Terms</a></div>
    </div>
</footer>
<!-- 
<p>Wherever you Rest,You are Home..</p> -->